<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>41789646184-e0aolaut7sa7kcpb23jm5r129o9fnu5a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41789646184-e0aolaut7sa7kcpb23jm5r129o9fnu5a</string>
	<key>API_KEY</key>
	<string>AIzaSyCM2Ww6CsIQaYJxgBD7oNoswhPAjx3S3eQ</string>
	<key>GCM_SENDER_ID</key>
	<string>41789646184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.foggystudio.socialApp</string>
	<key>PROJECT_ID</key>
	<string>social-62b07</string>
	<key>STORAGE_BUCKET</key>
	<string>social-62b07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:41789646184:ios:a13bf1edde362157</string>
	<key>DATABASE_URL</key>
	<string>https://social-62b07.firebaseio.com</string>
</dict>
</plist>